body{
	background-color: #f4f4f4;
}
.container {
	background: red;
	text-align: center;
	height: 123px;
	margin-top: 20px;
	margin-left: 15px;
	width: 947px;
	float: left;
}
.logo-container {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 120px;
}
.name-container {
	color: green;
	text-align: center;
	width: 200px;
	height: 100px;
	float: left;
	padding: 10px 15px;
	text-decoration: none;
	overflow: hidden;
	margin-top: 22px;
	font-size: 17px;
}
.name-container h3 a{
	text-decoration: none;
}
.sub-container{
	background: grey;
	width: 700px;
	position: absolute;
	right: 23px;
}
#main-header{
	overflow: hidden;
}
/* Navbar container */
.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
#showcase {
	/* margin-right: 50px; */
	/* margin-top: 85px; */
	width: 1000px;
	height: 400px;
	align-items: center;
	background-position: center;
	background-image: url("/Users/mohammadislam/Desktop/CunyZero/html/css/images/cuny.jpg");
	margin: 0 auto;
}
.l-container {
	text-align: center;
	font-size: 25px;
}
.t-container {
	float: left;
	width: 33.3%;
	text-align: center;
}
.t-container h3 a {
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}
.box-container {
    background-color: red;
    margin-top: 20px;
    height: 300px;
    width: 32%;
    margin-left: 17px;
    float: left;
    overflow: hidden;
    display: block;
}
.imgs-box{
	margin: 2px;
}
.img-size {
	width: 130px;
	margin: 9px 4px;
}



.nav-container{
	margin-left: 50Px;
	margin-right: 50px;
}





footer {
	margin-top: 500px;
	text-align: center;
	background-color: #20232e;
	padding: 60px 0px;
}

footer ul.social-icons {
	padding: 0px 270px;
	margin-bottom: 60px;
	border-bottom: 1px solid rgba(250,250,250,0.15);
	background: blue;
	overflow: hidden;
}

footer ul.social-icons li {
	display: inline-block;
	/* margin-right: 30px; */
}

footer ul.social-icons li:after {
	color: #fff;
	margin-left: 30px;
}

footer ul.social-icons li:last-child {
	margin-right: 0px;
}

footer ul.social-icons li:last-child::after {
	display: none;
}

footer ul.social-icons li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.25px;
	transition: all .3s;

}

footer ul.social-icons li a:hover {
	color: #f48840;
}

footer p {
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
}

footer p a {
	color: #f48840;
}

footer p a:hover {
	color: #f48840;
}

